

div.Container {
    display: inline;
    text-align: center;
    font-family: inherit;
}

.Display {
    width: 400px;
    overflow: auto;
    margin:0px auto;
    text-align: left;
    border: 1px solid black;
    background-color: white;
}

/* #RemoveButton {
    float: right;
} */

.Checkbox {
    float: right;
}

.Searchlist {
    width: 400px;
    overflow: auto;
    margin:0px auto;
    text-align: left;
    border: 1px solid black;
    background-color: white;
}
